.App {
  text-align: center;
  background-color: black;
}

/* ------------------------------------ SignIn page CSS -------------------------------------- */

.signInDiv {
  background-image: linear-gradient(
    rgba(233, 240, 239, 0.7),
    rgba(233, 240, 239, 0.2)
  ),url("https://i.postimg.cc/26Yv5PV4/hero-home-oldv2.jpg");
  background-size: cover;
  background-position: center center;  
  height: 100vh;
  padding-top: 5%;
  text-shadow: 0px 8px 8px darkgrey; 
}

.signInContainer { 
  border: 1px solid #03d0b6;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 6px -6px #03d0b6;
  -moz-box-shadow: 0 10px 6px -6px #03d0b6;
  box-shadow: 0 10px 6px -6px #03d0b6;
  padding: 2%;
  margin-top: 5%;
  background-color: #ffffff;
  opacity: 0.7;
  width: 50% !important;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

/* -------------------------------------- CSS Grid ALL --------------------------------------- */

.gridAll {
  height: 100vh;
}

/* ------------------------------------ CSS Display Area ------------------------------------- */

.displayAreaGrid {
  background-color: rgb(230,230,230);
}

.containerAll{
  padding: 22px 1% 5%;
}

/* --------------------------------------- CSS SideBar --------------------------------------- */

.sideBarGrid {
  background-color: rgb(3,208,182, 0.8);
  margin-bottom: 0px; 
}

.sideBar {
  z-index: 10000;
  position: fixed;
  top: 20px;
  width: 90%;
  left: 7%;
}

/* ------------------------------------ CSS Pagina Puntos ------------------------------------ */

element.style {
  top: 14px;
}

.saldo {
  float: right;
  color: black;
  font-size: 120%;
  font-weight: bold;
  padding: 2px 0;
}

/* ------------------------------ input boxes in Regalar Puntos -------------------------------- */

.linea1Puntos{
  text-align: center;
  font-size: 110%;
}

.linea2Puntos{
  text-align: left;
  font-size: 105%;
}

.inputPuntos {
  width: 80px;
  margin: 0px 10px;
}

.selectPuntos{
  width: 250px;
  margin: 0px 10px;
}

/* -------------------------------------- Personal area -------------------------------------- */

/* ----------------------------------- Admin Usuarios area ----------------------------------- */

/* ----------------------------------- Admin Premimos area ----------------------------------- */

.listadoPremio1 {
  font-size: 115%;
}

.listadoPremio2 {
  font-weight: normal;
  padding-left: 10px;
}

.page.modal.dimmer {
  z-index:999999;
}