.App {
  text-align: center;
}

.signInContainer { 
  border: 1px solid #03d0b6;
  border-radius: 25px;
  -webkit-box-shadow: 0 10px 6px -6px #03d0b6;
  -moz-box-shadow: 0 10px 6px -6px #03d0b6;
  box-shadow: 0 10px 6px -6px #03d0b6;
  padding: 2%;
}

.singInButton {
  align-items: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
